In [6]:
import polars as pl
import pandas as pd

# 1 Importing and Previewing Data

## .1 Import

In [20]:
# step: define path to Excel file
pathToData = "Freely_quote_data.xlsx"
dataRaw = pd.read_excel(pathToData, sheet_name="Quotes")
dataDefinitions = pd.read_excel(pathToData, sheet_name="Data Dictionary")

## .2 Viewing Definitions and Start of DataFrame

In [21]:
# step: check definitions
dataDefinitions

                Column                                              Notes
0         destinations  destinations of travel, can be city, country, ...
1      trip_start_date                                trip departure date
2        trip_end_date                                   trip return date
3       traveller_ages  number of travellers and individual traveller(...
4    quote_create_time  date and time this quote is generated (between...
5          quote_price  total price of the quote inclusive of boosts c...
6             platform  web: quote from web get a quote path; qw: quot...
7             discount  discount % applied, noting for a quote with 2 ...
8         boost_x_name  extra coverage selected, 9 different extra cov...
9   boost_x_start_date                          extra coverage start date
10    boost_x_end_date                            extra coverage end date
11  extra_cancellation  additional cancellation amount for trip costs ...
12             convert  YES for a converted quote, NO for an unconvert...

In [18]:
# step: display data preview
dataRaw.head()

,destinations,trip_start_date,trip_end_date,traveller_ages,quote_create_time,quote_price,platform,discount,boost_1_name,boost_1_start_date,...,boost_6_start_date,boost_6_end_date,boost_7_name,boost_7_start_date,boost_7_end_date,boost_8_name,boost_8_start_date,boost_8_end_date,extra_cancellation,convert
0,Vietnam; Sri Lanka; Portugal; Netherlands; Swi...,30/1/2025,16/10/2025,41;40;11;8;5,2024-24-12 13:20:09,1417,web,0.15,Specified Items,30/1/2025,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NO
1,New Zealand,2024-07-10 00:00:00,14/10/2024,27;25,2024-10-06 11:47:00,79,app,0.15,Adventure Activities,2024-11-10 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,YES
2,All of Europe; Turkey,14/5/2025,2025-08-06 00:00:00,73;73,2024-11-11 12:13:00,516,web,0.15,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NO
3,USA,2025-02-01 00:00:00,21/1/2025,45;45;14;13;8,2024-12-12 14:32:00,391,web,0.15,Snow Sports,2025-05-01 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40000.0,NO
4,United Kingdom,30/11/2024,2024-06-12 00:00:00,60,2024-30-11 11:57:29,60,web,0.10,Extra Cancellation,30/11/2024,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5000.0,NO